<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<body>
    <section layout:fragment="content">

        <h1>Shopping Cart</h1>

        <table th:if="${items}" class="cart" cellpadding="10" cellspacing="0" border="0">
            <tr th:each="item: ${items}" class="item">
                <td th:text="${item.title}" />
                <td th:text="${item.amount}" />
                <td class="remove">
                    <a th:href="'/cart/remove?productCode=' + ${item.code}">&#x2718;</a>
                </td>
            </tr>
        </table>

    </section>
</body>
</html>