<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<body>
    <section layout:fragment="content">

        <h1>Catalogue</h1>

        <form th:action="@{/cart}" method="post">
            <input name="amount" value="1" type="hidden">

            <table th:if="${products}" class="products" cellpadding="10" cellspacing="0" border="0">
                <tr th:each="product: ${products}" class="product">
                    <th th:text="${product.title}" />
                    <td th:text="${product.description}" />
                    <td th:text="${product.inStock} > 0 ? ${product.inStock} + ' left in stock' : 'sold out'" class="stock" />
                    <td th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 2)}" class="price" />
                    <td><button name="productCode" th:value="${product.code}" type="submit">buy</button></td>
                </tr>
            </table>
        </form>

    </section>
</body>
</html>