body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: beige;
    color: #222;
}

#header {
    background-color: darkgreen;
    color: lightgrey;
    font-weight: bold;
    padding: 1em 2em;
}

#content {
    padding: 2em;
}

#footer {
    background-color: lightgrey;
    color: grey;
    padding: 2em;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.categories a {
    color: lightgrey;
    display: inline-block;
    padding-right: 2em;
}
.categories a.home {
    text-decoration: none;
}

.products .product th, .products .product td {
    border-bottom: 1px solid grey;
}
.products .product th {
    text-align: left;
}
.products .product .price {
    text-align: right;
    font-style: italic;
}